:root{
  font-size: 16px;
  --color-grey-normal: #AAA;
  --color-grey-light: #CCC;
  --color-grey-dark: #444;
  --color-white-normal: #FFF;
  --color-white-dark: #EEE;
}

body{
  background-color: var(--color-grey-normal);
  margin: 0;
  color: var(--color-white-normal);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

span {
  /* temporary */
  font-size: 10px;
  letter-spacing: normal;
  font-style: italic;
  font-weight: lighter;
}

.App{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.App__Display {
  display: flex;
  width: 100%;
  padding: 0 2px;
  flex-direction: column;
  align-items: center;
}

.App__DisplayGrid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
  overflow: hidden;
}

.DisplayBlock {
  background-color: var(--color-white-normal);
  max-height: 49.8vh;
  color: var(--color-grey-dark);
  overflow-wrap: break-word;
  overflow: hidden;
  transition: background-color 0.4s;
}

.DisplayBlock:hover{
  cursor: pointer;
  background-color: var(--color-white-dark);
}

.SideBar {  
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6666aacc;
}

.SideBar__Title {
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.SideBar__TextArea {
  background-color: var(--color-white-normal);
  color: var(--color-grey-dark);
  font-size: 1rem;
  margin-bottom: 1rem;
  resize: none;
  /* border: none; */
  outline: none;
}

.SideBar > div {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.SideBar__InputsLabel {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.SideBar > div > div input{
  width: 3rem;
  color: var(--color-grey-dark);
  background-color: var(--color-white-normal);
  border: none;
  margin: 0 2px;
}