:root{
  font-size: 16px;
  --color-grey-normal: #AAA;
  --color-grey-light: #CCC;
  --color-grey-dark: #444;
  --color-white-normal: #FFF;
  --color-white-dark: #EEE;
  --color-main: #0B525Bf5;
  --color-main-dark: #004050f5;
  --color-main-light: #1B626Bf5;
  --color-main-very-light: #3B828Bf5;
  --color-secondary: #f07167f5;
  --color-secondary-light: #fc8e86f5;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

body{
  background-color: var(--color-main-light);
  margin: 0;
  color: var(--color-white-normal);
}

h1, h2, h3, h4, h5, h6, p, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.App{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.App__Display {
  display: flex;
  width: 100%;
  padding: 0 2px;
  flex-direction: column;
  align-items: center;
  transition: margin 0.6s;
}

.App__DisplayGrid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.2rem;
  overflow: hidden;
}

.DisplayBlock {
  position: relative;
  background-color: var(--color-white-normal);
  max-height: 49.8vh;
  color: var(--color-grey-dark);
  overflow-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  transition: 
    color 0.3s,
    text-shadow 0.5s,
    background-color 0.5s;
}

.DisplayBlock > p {
  margin: 1rem 0 0 1rem;
}

.DisplayBlock:hover{
  cursor: pointer;
  background-color: var(--color-grey-light);
  color: transparent;
	text-shadow: 0 0 3px var(--color-grey-dark);
}

.DisplayBlock__HoverMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  left: 100%;
  transition: 
    left 1s,
    width 1s;
}

.DisplayBlock__Button {
  text-align: center;
  height: 100%;
  width: 50%;
  color: var(--color-white-normal);
  font-size: 1.4rem;
  background-color: var(--color-main);
  opacity: 0.9;
  border: none;
  border-top: dotted 2px var(--color-main-light);
  border-bottom: dotted 2px var(--color-main-light);
  outline: none;
  overflow: hidden;
  transition: all 0.5s;
}

.DisplayBlock__Button:hover {
  color: white;
  font-size: 1.8rem;
  width: 100%;
  background-color: var(--color-main-light);
  cursor: pointer;
}

.DisplayBlock__InfoButton{
  height: 100%;
}

.DisplayBlock__InfoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0%;
  width: 50%;
  color: white;
  font-size: 1.4rem;
  background-color: var(--color-main);
  opacity: 0.9;
  border: none;
  border-top: dotted 0px var(--color-main-light);
  border-bottom: dotted 0px var(--color-main-light);
  outline: none;
  overflow: hidden;
  transition: 
    height 0.5s,
    width 0.5s,
    opacity 0.5s 0.5s;
  }

.DisplayBlock__InfoSection > span {
  opacity: 0;
  transition: opacity 0.5s 0.5s;
}

.DisplayBlock__InfoSection__Show {
  height: 100%;
  width: 100%;
  opacity: 0.8;
  border-top: dotted 2px var(--color-main-light);
  border-bottom: dotted 2px var(--color-main-light);
}

.DisplayBlock__InfoSection__FontFamily {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
}

.DisplayBlock__KeepSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0%;
  width: 50%;
  color: white;
  font-size: 1rem;
  background-color: var(--color-main);
  opacity: 0.9;
  border: none;
  border-top: dotted 0px var(--color-main-light);
  border-bottom: dotted 0px var(--color-main-light);
  outline: none;
  overflow: hidden;
  cursor: default;
  transition: 
    height 0.5s,
    width 0.5s,
    background-color 0.5s 0.5s,
    opacity 0.5s 0.5s;
}

.DisplayBlock__KeepSection__Show {
  background-color: var(--color-main);
  height: 100%;
  width: 100%;
  opacity: 0.7;
  border-bottom: dotted 2px var(--color-main-light);
}

.DisplayBlock__KeepSection__Instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: white;
  background-color: var(--color-main-dark);
  width: 100%;
  height: 100%;
  border: 0.2rem dotted var(--color-secondary-light);
  transition: all 0.5s 0.5s;
}

.DisplayBlock__KeepSection > button {
  color: var(--color-white-normal);
  font-size: 1.2rem;
  background-color: var(--color-main);
  width: 100%;
  height: 100%;
  opacity: 0;
  border: none;
  outline: none;
  transition: 
    font-size 0.5s,
    background-color 0.5s,
    opacity 0.5s 0.5s;
}

.DisplayBlock__KeepSection > button:hover{
  background-color: var(--color-main-very-light);
  font-size: 1.3rem;
  color: white;
}

.DisplayBlock__CopyCSSButton{
  height: 50%;
}

.App__SideBarToggle{
  position: fixed;
  background-color: transparent;
  left: 0.6rem;
  top: 0.6rem;
  height: 4rem;
  width: 4rem;
  outline: none;
  border: none;
  box-shadow: 0 0 0 0 var(--color-main-very-light);
  cursor: pointer;
  z-index: 2;
}

.App__SideBarToggle::after, 
.App__SideBarToggle::before {
  transition: all 0.4s;
}

.App__SideBarToggle__X::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0.45rem;
  width: 4rem;
  background-color: var(--color-secondary-light);
  transform: 
    translate(0, 1.6rem)
    rotate(45deg);
}

.App__SideBarToggle__X::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0.45rem;
  width: 4rem;
  background-color: var(--color-secondary-light);
  transform: 
    translate(0, 1.6rem)
    rotate(135deg);
}

.App__SideBarToggle__Burger::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0.45rem;
  width: 4rem;
  background-color: var(--color-secondary-light);
  box-shadow: 
    0 1.6rem 0 0 var(--color-secondary-light),
    0 0.8rem 0 0 var(--color-secondary-light);
}

.SideBar {  
  position: fixed;
  display: flex;
  min-width: 400px;
  width: 400px;
  min-height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
  overflow-y: scroll;
  z-index: 1;
  background-color: var(--color-main);
  transition: left 0.6s;
}

.SideBar__Title {
  font-size: 2.6rem;
  text-align: center;
  margin: 0.5rem 4rem;
}

.SideBar__TextArea {
  background-color: var(--color-white-normal);
  color: var(--color-grey-dark);
  min-height: 8rem;
  font-size: 1.4rem;
  margin: 1rem;
  padding: 0.6rem 0 0 0.6rem;
  resize: none;
  outline: none;
  border: 0.3rem dashed var(--color-main-very-light);
}

.SideBar__RangeControls {
  width: 92%;
  margin: 0.2rem 1rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.SideBar__ToggleControls {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.SideBar__ToggleButton {
  color: var(--color-white-normal);
  font-size: 1.2rem;
  background-color: var(--color-main-light);
  border: var(--color-white-dark) 1px solid;
  outline: none;
}

.SideBar__GridAmountControls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding-top: 0.1rem;
}

.SideBar__GridAmountButton {
  background-color: var(--color-main-light);
  color: var(--color-white-normal);
  font-size: 1.4rem;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  margin: 0 0.05rem;
  transition: background-color 0.3s;
}

.SideBar__FontFamilyControls {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SideBar__FontFamilyControls__RandomAll {
  width: 100%;
  font-size: 1.2rem;
  padding: 1.4rem;
  color: white;
  background-color: var(--color-main-dark);
  outline: none;
  border: none;
  border-top: 0.2rem solid var(--color-main-very-light);
  transition: all 0.5s;
}

.SideBar__FontFamilyControls__RandomAll:hover {
  background-color: var(--color-main-light);
  font-size: 1.4rem;
}

.SideBar__FontFamiyControls__DropDowns {
  display: grid;
  width: 100%;
  height: 100%;
  border-top: 0.2rem solid var(--color-main-very-light);
}

.SideBar__FontDropDownGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 99%;
  border: 0.15rem solid var(--color-main-very-light);
}

.SideBar__FontDropDownLabel {
  display: inline-block;
  padding-top: 1rem;
  height: 50%;
  font-size: 2rem;
}

.SideBar__FontDropDown {
  width: 100%;
  height: 50%;
  background-color: var(--color-main-dark);
  color: var(--color-white-normal);
  font-size: 1rem;
  outline: none;
  border: none;
  text-overflow: ellipsis;
  transition: all 0.5s;
}

.SideBar__FontDropDown:hover {
  background-color: var(--color-main-light);
  font-size: 1.2rem;
}

.SideBar__InputsLabel {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.SideBar__InputsLabel > span {
  font-size: 0.8rem;
  letter-spacing: normal;
  font-style: italic;
  font-weight: lighter;
}

.SideBar__MinMaxTitles {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.SideBar__MinMaxTitles > span {
  font-size: 1rem;
  width: 3rem;
  margin: 0 2px;
}

.SideBar > div > div input{
  width: 3.4rem;
  font-size: 1.2rem;
  color: var(--color-white-normal);
  background-color: var(--color-main-light);
  border: none;
  margin: 0 2px;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

@media only screen and (max-width: 1400px) {
  .DisplayBlock__Button {
    font-size: 1.2rem;
  }
  .DisplayBlock__Button:hover {
    font-size: 1.4rem;
  }
  .DisplayBlock__InfoSection {
    font-size: 1.2rem;
  }
  .DisplayBlock__InfoSection__FontFamily {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 970px) {
  .DisplayBlock__Button {
    font-size: 1rem;
  }
  .DisplayBlock__Button:hover {
    font-size: 1.2rem;
  }
  .DisplayBlock__InfoSection {
    font-size: 1rem;
  }
  .DisplayBlock__InfoSection__FontFamily {
    font-size: 1.2rem;
  }
}