:root{
  font-size: 16px;
  --color-grey-normal: #AAA;
  --color-grey-light: #CCC;
  --color-grey-dark: #444;
  --color-white-normal: #FFF;
  --color-white-dark: #EEE;
  --color-main: #067086;
  --color-main-dark: #005667;
  --color-main-light: #0a9bb0;
  --color-main-very-light: #11bbc8;
  --color-secondary: #f96d60;
  --color-secondary-dark: #f34c39;
  --color-secondary-light: #fd8877;
}

::-webkit-scrollbar {
  background-color: var(--color-secondary);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
}

::-webkit-scrollbar-track {
  background: var(--color-main-dark);
}

input[type=number]::-webkit-inner-spin-button {
  position: absolute;
  visibility: hidden;
}

body{
  background-color: var(--color-main-light);
  margin: 0;
  font-family: "Times New Roman";
  color: var(--color-white-normal);
}

h1, h2, h3, h4, h5, h6, p, li, button {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.App{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  overflow: hidden;
}

.App__Display {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  transition: margin 0.6s;
  overflow: hidden;
}

.App__DisplayGrid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1px;
  overflow: hidden;
}

.DisplayBlock {
  position: relative;
  background-color: var(--color-white-normal);
  color: var(--color-grey-dark);
  max-height: 50vh;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  transition: 
    color 0.3s,
    text-shadow 0.5s,
    background-color 0.5s;
}

.DisplayBlock > p {
  margin: 1rem 0 0 1rem;
  overflow: hidden;
}

.DisplayBlock:hover{
  cursor: pointer;
  background-color: var(--color-grey-light);
  color: transparent;
	text-shadow: 0 0 3px var(--color-grey-dark);
}

.DisplayBlock__HoverMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  left: 100%;
  transition: 
    left 1s,
    width 1s;
}

.DisplayBlock__Button {
  text-align: center;
  height: 100%;
  width: 50%;
  color: var(--color-white-normal);
  font-size: 1.4rem;
  font-family: Abel;
  background-color: var(--color-main);
  opacity: 0.9;
  border: none;
  border-top: dotted 2px var(--color-main-light);
  border-bottom: dotted 2px var(--color-main-light);
  outline: none;
  overflow: hidden;
  transition: all 0.5s;
}

.DisplayBlock__Button:hover {
  color: white;
  font-size: 1.8rem;
  width: 100%;
  background-color: var(--color-main-light);
  cursor: pointer;
}

.DisplayBlock__InfoButton{
  height: 100%;
}

.DisplayBlock__InfoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0%;
  width: 50%;
  color: white;
  font-size: 1.4rem;
  font-family: Abel;
  background-color: var(--color-main);
  opacity: 0.9;
  border: none;
  border-top: dotted 0px var(--color-main-light);
  border-bottom: dotted 0px var(--color-main-light);
  outline: none;
  overflow: hidden;
  transition: 
    height 0.5s,
    width 0.5s,
    opacity 0.5s 0.5s;
  }

.DisplayBlock__InfoSection > span {
  opacity: 0;
  transition: opacity 0.5s 0.5s;
}

.DisplayBlock__InfoSection__Show {
  height: 100%;
  width: 100%;
  opacity: 0.8;
  border-top: dotted 2px var(--color-main-light);
  border-bottom: dotted 2px var(--color-main-light);
}

.DisplayBlock__InfoSection__FontFamily {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
}

.DisplayBlock__KeepSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0%;
  width: 50%;
  color: white;
  font-family: Abel;
  font-size: 1rem;
  background-color: var(--color-main);
  opacity: 0.9;
  border: none;
  border-top: dotted 0px var(--color-main-light);
  border-bottom: dotted 0px var(--color-main-light);
  outline: none;
  overflow: hidden;
  cursor: default;
  transition: 
    height 0.5s,
    width 0.5s,
    background-color 0.5s 0.5s,
    opacity 0.5s 0.5s;
}

.DisplayBlock__KeepSection__Show {
  background-color: var(--color-main);
  height: 100%;
  width: 100%;
  opacity: 0.7;
  border-bottom: dotted 2px var(--color-main-light);
}

.DisplayBlock__KeepSection__Instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: white;
  background-color: var(--color-main-dark);
  width: 100%;
  height: 100%;
  border: 0.2rem dotted var(--color-secondary-light);
  transition: all 0.5s 0.5s;
}

.DisplayBlock__KeepSection > button {
  font-family: Abel;
  color: var(--color-white-normal);
  font-size: 1.2rem;
  background-color: var(--color-main);
  width: 100%;
  height: 100%;
  opacity: 0;
  border: none;
  outline: none;
  transition: 
    font-size 0.5s,
    background-color 0.5s,
    opacity 0.5s 0.5s;
}

.DisplayBlock__KeepSection > button:hover{
  background-color: var(--color-main-very-light);
  font-size: 1.3rem;
  color: white;
}

.App__SideBarToggle{
  position: fixed;
  background-color: transparent;
  left: 0.6rem;
  top: 0.6rem;
  height: 4rem;
  width: 4rem;
  outline: none;
  border: none;
  box-shadow: 0 0 0 0 var(--color-main-very-light);
  cursor: pointer;
  z-index: 2;
}

.App__SideBarToggle::after, 
.App__SideBarToggle::before {
  transition: all 0.4s;
}

.App__SideBarToggle__X::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0.45rem;
  width: 4rem;
  background-color: var(--color-secondary-light);
  transform: 
    translate(0, 1.6rem)
    rotate(45deg);
}

.App__SideBarToggle__X::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0.45rem;
  width: 4rem;
  background-color: var(--color-secondary-light);
  transform: 
    translate(0, 1.6rem)
    rotate(135deg);
}

.App__SideBarToggle__Burger::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0.45rem;
  width: 4rem;
  background-color: var(--color-secondary-light);
  box-shadow: 
    0 1.6rem 0 0 var(--color-secondary-light),
    0 0.8rem 0 0 var(--color-secondary-light);
}

.SideBar {  
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  background-color: var(--color-main);
  transition: 
    width 0.6s,
    left 0.6s;
}

.SideBar__Title {
  font-family: Abel;
  font-size: 2.6rem;
  text-align: center;
  margin: 1rem 4rem;
  transition: opacity 0.4s;
}

.SideBar__TextArea {
  font-family: Abel;
  background-color: var(--color-main-very-light);
  color: var(--color-white-normal);
  height: 100%;
  min-height: 2.6rem;
  font-size: 1.4rem;
  padding: 0.6rem 0 0 0.6rem;
  resize: none;
  border: none;
  outline: none;
  transition: opacity 0.4s;
}

textarea::-webkit-input-placeholder {
  color: var(--color-white-dark);
}

.SideBar__FontRangeControls {
  background-color: var(--color-main);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: opacity 0.4s;
}

.SideBar__Inputs {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: var(--color-main-dark);
  overflow: hidden;
  transition: height 0.8s;
}

.SideBar__RangeControls {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  transition: all 0.8s;
}

.SideBar__InputsLabel {
  font-family: Abel;
  background-color: var(--color-main);
  font-size: 1.4rem;
  padding: 0.4rem;
  color: white;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s;
  }

.SideBar__InputsLabel:hover {
  background-color: var(--color-main);
  font-size: 1.6rem;
  background-color: var(--color-main-dark);
}

.SideBar__InputLabel__DropDownIcon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 1px;
  width: 1px;
  border: 0.5rem solid transparent;
  border-top: 0.5rem solid var(--color-secondary-light);
  cursor: pointer;
  transition: 
    transform 0.5s;
}

.SideBar__InputsLabel > span {
  font-size: 0.8rem;
  letter-spacing: normal;
  font-style: italic;
  font-weight: lighter;
  color: var(--color-white-dark);
  pointer-events: none;
}

.SideBar__InputAndControls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

.SideBar__InputAndControls > input{
  font-family: Abel;
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-main-light);
  opacity: 0.7;
  border: none;
  outline: none;
  overflow: hidden;
  text-overflow: nowrap;
  text-overflow: ellipsis;
}

.SideBar__InputAndControls > button {
  font-family: Abel;
  font-size: 1.4rem;
  background-color: var(--color-main-light);
  color: var(--color-white-dark);
  border: none;
  border-left: 0.1rem solid var(--color-main-very-light);
  border-right: 0.1rem solid var(--color-main-very-light);
  outline: none;
  width: 50%;
  transition: all 1s;
}

.SideBar__InputAndControls > button:hover {
  background-color: var(--color-main-very-light);
}

.SideBar__MinMaxTitles {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.SideBar__MinMaxTitles > span {
  font-size: 1.2rem;
  margin-right: 2rem;
}

.SideBar__ToggleControls {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.SideBar__ToggleButton {
  color: var(--color-white-normal);
  font-size: 1.2rem;
  background-color: var(--color-main-light);
  border: var(--color-white-dark) 1px solid;
  outline: none;
}

.SideBar__GridsLabel {
  font-family: Abel;
  text-align: center;
  font-size: 2rem;
  padding: 0.4rem 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-main-dark);
}

.SideBar__GridAmountControls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.SideBar__MinimizedBar__GridAmountControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  transition: 
    height 0.8s;
}

.SideBar__GridAmountButton {
  font-family: Abel;
  background-color: var(--color-main-light);
  color: var(--color-white-normal);
  font-size: 1.4rem;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  margin: 0 0.05rem;
  transition: 
    background-color 0.5s,
    font-size 0.5s;
}

.SideBar__MinimizedBar__GridAmountButton {
  font-family: Abel;
  background-color: var(--color-main-light);
  color: var(--color-white-normal);
  font-size: 1.4rem;
  border: none;
  outline: none;
  height: 2.8rem;
  width: 100%;
  margin: 0.1rem 0;
  transition: 
    background-color 0.5s,
    font-size 0.5s,
    height 0.5s;
}

.SideBar__GridAmountButton:hover {
  background-color: var(--color-main-very-light);
}

.SideBar__FontFamilyControls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.2rem solid var(--color-main-very-light);
  transition: opacity 0.4s;
}

.SideBar__FontFamilyControls__RandomAll {
  font-family: Abel;
  width: 100%;
  font-size: 1.2rem;
  padding: 0.8rem;
  color: white;
  background-color: var(--color-main-dark);
  outline: none;
  border: none;
  transition: all 0.5s;
}

.SideBar__FontFamilyControls__RandomAll:hover {
  background-color: var(--color-main-light);
  font-size: 1.4rem;
}

.SideBar__FontFamiyControls__DropDowns {
  display: grid;
  width: 100%;
  border-top: 0.2rem solid var(--color-main-very-light);
}

.SideBar__FontDropDownGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  overflow: hidden;
  border-left: 0.15rem solid var(--color-main-very-light);
  border-bottom: 0.15rem solid var(--color-main-very-light);
}

.SideBar__FontDropDownLabel {
  padding: 0.8rem;
  font-size: 2rem;
}

.SideBar__FontDropDown {
  width: 100%;
  height: 100%;
  background-color: var(--color-main-dark);
  color: var(--color-white-normal);
  font-size: 1rem;
  outline: none;
  border: none;
  text-overflow: ellipsis;
  transition: all 0.5s;
}

.SideBar__FontDropDown:hover {
  background-color: var(--color-main-light);
  font-size: 1.2rem;
}

.SideBar__MinimizedBar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 0;
  left: 0;
  width: 5.6rem;
  height: 100%;
  transition: 
    opacity 0.6s,
    width 0.6s 0.6s,
    left 0.7s;
}

.SideBar__MinimizedBar__Button {
  height: 5.6rem;
  font-size: 1.8rem;
  background-color: var(--color-main);
  color: var(--color-white-normal);
  border: none;
  outline: none;
  transition: all 0.6s;
}

.SideBar__MinimizedBar__Button:hover {
  font-size: 2.2rem;
  background-color: var(--color-main-dark);
}

@media only screen and (max-width: 750px) {
  :root{
    font-size: 15px;
  }
}

@media only screen and (max-width: 650px) {
  :root{
    font-size: 14px;
  }
  
  .SideBar {
    width: 100vw;
  }
}

@media only screen and (max-width: 500px) {
  :root{
    font-size: 13.5px;
  }
}