:root{
  font-size: 16px;
  --color-grey-normal: #AAA;
  --color-grey-light: #CCC;
  --color-grey-dark: #444;
  --color-white-normal: #FFF;
  --color-white-dark: #EEE;
  --color-main: #0B525B;
  --color-main-light: #1B626B;
  --color-secondary: #312244;
  --color-secondary-light: #413254;
}

body{
  background-color: var(--color-main-light);
  margin: 0;
  color: var(--color-white-normal);
  /* FIGURE OUT * /
  font-family: 'Lobster', cursive;
  /* */ 
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.App{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.App__Display {
  display: flex;
  width: 100%;
  padding: 0 2px;
  flex-direction: column;
  align-items: center;
}

.App__DisplayGrid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
  overflow: hidden;
}

.DisplayBlock {
  position: relative;
  background-color: var(--color-white-normal);
  max-height: 49.8vh;
  color: var(--color-grey-dark);
  overflow-wrap: break-word;
  overflow: hidden;
  transition: 
    color 0.3s,
    text-shadow 0.5s,
    background-color 0.5s;
}

.DisplayBlock:hover{
  cursor: pointer;
  background-color: var(--color-grey-light);
  color: transparent;
	text-shadow: 0 0 3px var(--color-grey-dark);
}

.DisplayBlock__HoverMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  left: 100%;
  transition: all 0.7s;
}

.DisplayBlock__HoverMenu > button {
  height: 100%;
  width: 50%;
  color: var(--color-white-normal);
  font-size: 1.4rem;
  background-color: var(--color-main);
  opacity: 0.8;
  border: none;
  border-top: dotted 2px var(--color-main-light);
  border-bottom: dotted 2px var(--color-main-light);
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
}

.DisplayBlock__HoverMenu > button:hover {
  color: white;
  font-size: 1.8rem;
  width: 100%;
  background-color: var(--color-main-light);
}

.SideBar {  
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-main);
}

.SideBar__Title {
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.SideBar__TextArea {
  background-color: var(--color-white-normal);
  color: var(--color-grey-dark);
  font-size: 1rem;
  margin-bottom: 1rem;
  resize: none;
  outline: none;
}

.SideBar__RangeControls {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.SideBar__InputsLabel {
  font-size: 1rem;
}

.SideBar__InputsLabel > span {
  font-size: 0.6rem;
  letter-spacing: normal;
  font-style: italic;
  font-weight: lighter;
}

.SideBar__MinMaxTitles {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.SideBar__MinMaxTitles > span {
  font-size: 1rem;
  width: 3rem;
  margin: 0 2px;
}

.SideBar > div > div input{
  width: 3rem;
  font-size: 0.8rem;
  color: var(--color-grey-dark);
  background-color: var(--color-white-normal);
  border: none;
  margin: 0 2px;
}